<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/normalize.css">
    <link rel="stylesheet" href="/public/skeleton.css">
    <title>Document</title>
</head>
<body>
    <div class = "container">
    <h1>Budgtr ALL</h1>
    <table>
    <% for(let i = 0; i < budget.length; i++) { %>
        <h3><% budget[i].date %></h3>
        </a>
        <tr>
            <a href="/models/budget.js">
                <% budget[i].name %>
            </a>
        </tr>
        <td>
            
        </td>
    </table>
   </div>
   <% } %>
</body>
</html>