<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/fruits">
        <label for="date">Name:</label>
        <input type="text" name="date" id="date">
        <br>
        <label for="name">Color:</label>
        <input type="text" name="name" id="name">
        <br>
        <label for="amount">Is it ready to eat? </label>
        <input type="checkbox" name="amount" id="amount">
        <br>
        <label for="from">from URL: </label>
        <input type="text" name="from" id="from">
    
        <input type="submit" value="Create Budget" />
    </form>
    </body>
    </html>
</body>
</html>